{% extends "base.html" %}

{% block conteudo %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url('conta') }}" class="breadcrumb-link">
                    Minha Conta
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Pedidos
            </li>
        </ol>
    </nav>
    {{flash()}}

    <h5 class="mb-3 text-center lead">
        Acompanhe seus pedidos
    </h5>
    <div class="card border-0 shadow-sm">
        <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
            <div>
                <span class="badge rounded text-bg-danger bg-opacity-25">
                    <span class="text-dark bg-opacity-100">{{total.processo}} - Processamento do Pedido</span>               
                </span> 

                <span class="badge rounded text-bg-warning bg-opacity-25">
                    <span class="text-dark bg-opacity-100">{{total.preparacao}} - Preparação e Empacotamento</span>

                </span>

                <span class="badge rounded text-bg-success bg-opacity-25">
                    <span class="text-dark bg-opacity-100">{{total.envio}} - Envio e Rastreamento</span>
                </span>

                <span class="badge rounded text-bg-info bg-opacity-25">
                    <span class="text-dark bg-opacity-100">{{total.concluido}} - Conluída</span>
                </span>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="tabela">
                    <thead>
                        <tr>
                            <th class="text-center">Status</th>
                            <th class="text-center">Itens do seu pedido</th>
                            <th class="text-center">Endereço da entrega</th>
                            <th class="text-center">Tipo endereço</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entrega in entregas %}
                        <tr>
                            <td>
                                <div>
                                    <span>
                                        {% if entrega.fkstatusentrega == 1 %}
                                        <i class="fa-solid fa-circle text-danger" tooltip="tooltip" title="Processamento do Pedido"></i>
                                        {% elseif entrega.fkstatusentrega == 2 %}
                                        <i class="fa-solid fa-circle text-warning" tooltip="tooltip" title="Preparação e Empacotamento"></i>
                                        {% elseif entrega.fkstatusentrega == 3 %}
                                        <i class="fa-solid fa-circle text-success" tooltip="tooltip" title="Envio e Rastreamento"></i>
                                        {% else %}
                                        <i class="fa-solid fa-circle text-info" tooltip="tooltip" title="Concluída"></i>
                                        {% endif %}
                                    </span>
                                    {{ entrega.statusEntrega().desc_status }}
                                </div>
                            </td>
                            <td class="text-center">
                                <div>
                                    <a href="#" onclick="entregaModal({{ entrega.venda().id }})" tooltip="tooltip" title="Itens da Venda" data-bs-toggle="modal" data-bs-target="#entregaModal">
                                        <i class="fa-solid fa-person-walking-luggage fa-2xl"></i>

                                    </a>
                                </div>
                            </td>
                            <td class="text-center">
                                <strong class="fw-normal">
                                    CEP: {{ entrega.endereco().cep }}
                                    | Complemento: {{ entrega.endereco().complemento }}
                                    | Nº: {{ entrega.endereco().numero }}
                                </strong>
                            </td>
                            <td class="text-center">
                                {% if entrega.endereco().fktipoendereco == 1 %}
                                RESIDENCIAL
                                {% else %}
                                COMERCIAL
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>     
        </div>
    </div>

</div>
{% include'modalEntregas.html'%}
{% endblock %}