{% extends "dashboard.html" %}

{% block conteudo %}  
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Usuários
        </li>
    </ol>
</nav>

{{ flash() }}

<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
        <div>
            <span class="badge rounded text-bg-warning bg-opacity-25">
                <span class="text-dark bg-opacity-100">{{total.usuarios}} Clientes</span>
                <span class="badge text-bg-success bg-opacity-100">{{total.usuariosAtivo}}</span>
                <span class="badge text-bg-danger bg-opacity-100">{{total.usuariosInativo}}</span>
            </span> 

            <span class="badge rounded text-bg-danger bg-opacity-25">
                <span class="text-dark bg-opacity-100">{{total.admin}} admin</span>
                <span class="badge text-bg-success bg-opacity-100">{{total.adminAtivo}}</span>
                <span class="badge text-bg-danger bg-opacity-100">{{total.adminInativo}}</span>
            </span>

            <span class="badge rounded text-bg-secondary bg-opacity-25">
                <span class="text-dark bg-opacity-100">{{total.gerente}} gerente</span>
                <span class="badge text-bg-success bg-opacity-100">{{total.gerenteAtivo}}</span>
                <span class="badge text-bg-danger bg-opacity-100">{{total.gerenteInativo}}</span>
            </span>
        </div>
        <a href="{{url('admin/usuarios/cadastrar')}}" class="btn btn-dark" tooltip="tooltip" title="Cadastrar Post">
            Cadastrar
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="tabela">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th class="text-center">Tipo Usuário</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <th>{{usuario.id}}</th>
                        <td>
                            <a href="{{ url('admin/usuarios/editar/'~usuario.id) }}" tooltip="tooltip" title="Editar">
                                {{usuario.nome}}
                            </a>                            
                        </td>
                        <td>{{usuario.email}}</td>
                        <td class="text-center">
                            {% if usuario.fktipousuario == 3 %}
                            <div class="text-danger fw-bold">Admin</div>

                            {% elseif usuario.fktipousuario == 2  %}
                            <div class="text-secondary">Gerente</div>
                            {%else%}
                            <div class="text-warning">Cliente</div>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if usuario.status == 1 %}
                            <i class="fa-solid fa-circle text-success" tooltip="tooltip" title="Ativo"></i>
                            {% else %}
                            <i class="fa-solid fa-circle text-danger" tooltip="tooltip" title="Inativo"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">

                            <a href="{{ url('admin/usuarios/editar/'~usuario.id) }}" tooltip="tooltip" title="Editar">
                                <i class="fa-solid fa-pen m-1"></i>
                            </a>
<!--                            <a href="{{ url('admin/usuarios/deletar/'~usuario.id) }}" tooltip="tooltip" title="Deletar">
                                <i class="fa-solid fa-trash m-1"></i>
                            </a>-->

                            <a href="{{ url('admin/usuarios/deletar/'~usuario.id) }}" data-confirm="Você realmente quer fazer isso?"><i class="fa-solid fa-trash"></i></a>


                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>     


    </div>
</div>
{% endblock %}