{% extends 'base.html' %}
{% block conteudo %}
<div class="container my-5">
    <div class="my-3">
        {{flash()}}
    </div>
    <div class="row"> 
        

        <div class="col-lg-9">
            <div class="card mb-4">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% for slide in slides %}
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}" class="{% if loop.index0 == 0 %}active{% endif %}" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for slide in slides %}
                        <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                            <a href="{{ url('produto/' ~ slide.id) }}" class="d-block">
                                <img src="{{ url('uploads/imagens/' ~ slide.imagem) }}" tooltip="tooltip" title="{{slide.desc_produto}}" class="d-block w-100" alt="{{ slide.desc_produto }}">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            {% include 'marca.html' %}
        </div>

    </div>
    <br><hr>
    <div class="row">
        {% for produto in produtos %}
        
        {% if qtdProduto(produto.id) != 0 %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <a href="{{ url('produto/' ~ produto.id) }}" class="text-decoration-none text-dark">
                    <img src="{{ url('uploads/imagens/thumbs/' ~ produto.imagem) }}" tooltip="tooltip" title="{{produto.desc_produto}}" class="card-img-top" alt="{{ produto.desc_produto }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ produto.desc_produto }}</h5>
                        <p class="card-text">{{ resumirTexto(produto.detalhes_produtos, 100) }}</p>
                    </div>
                    <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between align-items-center">
                        <span class="badge rounded-pill text-bg-warning" style="font-size: 1.0rem;">
                            R$ {{ formatarValor(produto.valor) }}
                        </span>
                        <div class="d-flex align-items-center">
                            <span class="mr-2">Em estoque:</span>
                            <span class="badge rounded-pill bg-secondary text-white">
                                {{qtdProduto(produto.id)}}
                            </span>
                        </div>
                        
                          {% if not usuario() or usuario().fktipousuario == 1 %}
                            <i class="fas fa-cart-plus fa-2x text-dark" onclick="carrinhoModal({{ produto.id }})" tooltip="tooltip" title="Adicionar ao carrinho" data-bs-toggle="modal" data-bs-target="#carrinhoModal" style="cursor: pointer;"></i>      {% endif %}   
                        
                       
                        
                      
                    </div>
                </a>
            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}