{% extends 'base.html' %}
{% block conteudo %}

<div class="container my-5">
    <h1 style="color: #333;">Projeto de TCC - Bike Center</h1>

    <div class="texto" style="font-size: 16px; line-height: 1.6; color: #666;">
        <p>Este é o projeto de Trabalho de Conclusão de Curso (TCC) desenvolvido pelos alunos: <strong>Bruno Bezerra de Sousa
                Dely Batista Figueredo,
                Fernando Aguiar da Costa Morais,
                Luciara Ferreira de Carvalho,
                Yasmin Rodrigues de Araújo,
                Willian Quirino de Jesus
            </strong> do Senac-DF como parte do curso Técnico em Informática no SENAC- Jessé Freire, de Brasília.</p>

        <div class="destaque-documentacao" style="margin-top: 20px;">
            <p style="font-weight: bold; color: #007bff;">Veja nossa documentação <a href="https://drive.google.com/file/d/1v1l8fNd2CoYehPO7oOthS0k3OjJbPl9S/view?usp=sharing" target="_blank" style="text-decoration: none; color: #007bff;"><i class="fa fa-book" style="margin-right: 5px;"></i> Documentação</a></p>
        </div>

        <hr>
        Sistema de E-commerce de Bicicletas
        Bike Center
        <strong>Trabalho de conclusão de curso apresentado como requisito parcial para obtenção do Certificado do Curso Técnico em Informática SENAC- Jessé Freire, de Brasília.</strong>
        <hr>
        <strong>Orientador: Prof. Alisson Ribeiro

            Brasília; 2023 </strong>
        <hr>  

        Este sistema foi o projeto final do curso Técnico em Informática. Não foi somente uma apresentação à banca avaliadora, mas também um grande desafio para todos nós, quando a ideia inicial foi pensada por Fernando Aguiar - membro do grupo e concretizada pelos esforços, dedicação e união dos demais integrantes da equipe.
        Desenvolver um projeto de tamanha complexidade, com muitos códigos, criação de diversas tabelas, criatividade e combinação de linguagens nos deixou orgulhosos e com a sensação de dever cumprido ao saber que conseguimos concluir com o apoio do professor em sala de aula o que está estabelecido como regra acadêmica para o curso: a entrega do projeto final.
        Cumprimos com todos os propósitos que o nosso sistema exigiu, criar uma plataforma comercial online interativa, dinâmica e de fácil acesso. Durante a elaboração do e-commerce de vendas de bicicletas e produtos voltados para praticantes de ciclismo que desejam usufruir de conforto e praticidade, o objetivo principal pensado em conjunto foi: alcançar maior gama de divulgação em comparação às outras plataformas populares existentes no mercado. 
        O projeto foi uma imersão de desafios e conhecimentos. Fomos obrigados a pesquisar por informações e conteúdos em ferramentas externas, a exemplo de sites, PDFs de livros explicativos compartilhados pelo professor, vídeos complementares no YouTube, além de contato direto com pessoas que trabalham diariamente com o mercado esportivo. Não ficamos acomodados somente com o conteúdo dado em sala, até porque o tempo em sala é bastante curto. Se não usássemos tempo extra, não seria possível fazer um trabalho bem elaborado, com os requisitos que o e-commerce de bicicletas precisa.
        Estes aspectos fortaleceram muito o nosso aprendizado, pois adquirimos habilidades de investigação, pesquisa, organização e trabalho em equipe. Por fim, a aplicação dos nossos conhecimentos juntamente com a utilização de novas ferramentas tecnológicas, como o Bootstrap, resultou em um sistema web limpo, de fácil acesso, completo e robusto com várias funcionalidades e ajustável a qualquer dispositivo fixo ou móvel.
        É importante destacar que a plataforma Bike Center ainda não está plenamente pronta, tendo em vista que algumas aplicabilidades precisam ser melhoradas e implementadas, a exemplo da emissão de notas fiscais e do processo de devolução de produtos, quando o cliente recusa o pedido mesmo que a mercadoria já tenha chegado em seu endereço.
        <hr>

        <strong><hr></strong>
        <p>A Bikecenter pretende ser uma ligação entre pessoas, entidades e negócios que envolvem o ciclismo como atividade relacionada à liberdade e à natureza.</p>

        <p>Nosso objetivo é oferecer conteúdo relevante, produtos de qualidade assim como experiências memoráveis para quem curte aventura.</p>

        <p>Pesquisamos constantemente novidades no mercado.</p>
        <p><strong>Missão:</strong> Ser uma empresa séria e confiável no comércio de produtos e serviços relacionados à cultura da bicicleta.</p>

        <p><strong>Princípios Básicos do Negócio:</strong></p>
        <ul>
            <li>Respeito</li>
            <li>Coletividade</li>
            <li>Liberdade</li>
            <li>Responsabilidade</li>
        </ul>
    </div>
    <hr>

    <main class="flex-fill">
        <div class="container">
            <h2><span style="color: rgb(68, 68, 68);">1. Termos</span></h2>
            <p><span style="color: rgb(68, 68, 68);">Ao acessar ao site <a href="https://www.lojabikecenter.com">Bike Center</a>, concorda em cumprir estes termos de serviço, todas as leis e regulamentos aplicáveis ​​e concorda que é responsável pelo cumprimento de todas as leis locais aplicáveis. Se você não concordar com algum desses termos, está proibido de usar ou acessar este site. Os materiais contidos neste site são protegidos pelas leis de direitos autorais e marcas comerciais aplicáveis.</span></p>
            <h2><span style="color: rgb(68, 68, 68);">2. Uso de Licença</span></h2>
            <p><span style="color: rgb(68, 68, 68);">É concedida permissão para baixar temporariamente uma cópia dos materiais (informações ou software) no site Bike Center , apenas para visualização transitória pessoal e não comercial. Esta é a concessão de uma licença, não uma transferência de título e, sob esta licença, você não pode:&nbsp;</span></p>
            <ol>
                <li><span style="color: rgb(68, 68, 68);">modificar ou copiar os materiais;&nbsp;</span></li>
                <li><span style="color: rgb(68, 68, 68);">usar os materiais para qualquer finalidade comercial ou para exibição pública (comercial ou não comercial);&nbsp;</span></li>
                <li><span style="color: rgb(68, 68, 68);">tentar descompilar ou fazer engenharia reversa de qualquer software contido no site Bike Center;&nbsp;</span></li>
                <li><span style="color: rgb(68, 68, 68);">remover quaisquer direitos autorais ou outras notações de propriedade dos materiais; ou&nbsp;</span></li>
                <li><span style="color: rgb(68, 68, 68);">transferir os materiais para outra pessoa ou 'espelhe' os materiais em qualquer outro servidor.</span></li>
            </ol>
            <p><span style="color: rgb(68, 68, 68);">Esta licença será automaticamente rescindida se você violar alguma dessas restrições e poderá ser rescindida por Bike Center a qualquer momento. Ao encerrar a visualização desses materiais ou após o término desta licença, você deve apagar todos os materiais baixados em sua posse, seja em formato eletrónico ou impresso.</span></p>
            <h2><span style="color: rgb(68, 68, 68);">3. Isenção de responsabilidade</span></h2>
            <ol>
                <li><span style="color: rgb(68, 68, 68);">Os materiais no site da Bike Center são fornecidos 'como estão'. Bike Center não oferece garantias, expressas ou implícitas, e, por este meio, isenta e nega todas as outras garantias, incluindo, sem limitação, garantias implícitas ou condições de comercialização, adequação a um fim específico ou não violação de propriedade intelectual ou outra violação de direitos.</span></li>
                <li><span style="color: rgb(68, 68, 68);">Além disso, o Bike Center não garante ou faz qualquer representação relativa à precisão, aos resultados prováveis ​​ou à confiabilidade do uso dos materiais em seu site ou de outra forma relacionado a esses materiais ou em sites vinculados a este site.</span></li>
            </ol>
            <h2><span style="color: rgb(68, 68, 68);">4. Limitações</span></h2>
            <p><span style="color: rgb(68, 68, 68);">Em nenhum caso o Bike Center ou seus fornecedores serão responsáveis ​​por quaisquer danos (incluindo, sem limitação, danos por perda de dados ou lucro ou devido a interrupção dos negócios) decorrentes do uso ou da incapacidade de usar os materiais em Bike Center, mesmo que Bike Center ou um representante autorizado da Bike Center tenha sido notificado oralmente ou por escrito da possibilidade de tais danos. Como algumas jurisdições não permitem limitações em garantias implícitas, ou limitações de responsabilidade por danos conseqüentes ou incidentais, essas limitações podem não se aplicar a você.</span></p>
            <h2><span style="color: rgb(68, 68, 68);">5. Precisão dos materiais</span></h2>
            <p><span style="color: rgb(68, 68, 68);">Os materiais exibidos no site da Bike Center podem incluir erros técnicos, tipográficos ou fotográficos. Bike Center não garante que qualquer material em seu site seja preciso, completo ou atual. Bike Center pode fazer alterações nos materiais contidos em seu site a qualquer momento, sem aviso prévio. No entanto, Bike Center não se compromete a atualizar os materiais.</span></p>
            <h2><span style="color: rgb(68, 68, 68);">6. Links</span></h2>
            <p><span style="color: rgb(68, 68, 68);">O Bike Center não analisou todos os sites vinculados ao seu site e não é responsável pelo conteúdo de nenhum site vinculado. A inclusão de qualquer link não implica endosso por Bike Center do site. O uso de qualquer site vinculado é por conta e risco do usuário.</span></p>
            <p><br></p>
            <h3><span style="color: rgb(68, 68, 68);">Modificações</span></h3>
            <p><span style="color: rgb(68, 68, 68);">O Bike Center pode revisar estes termos de serviço do site a qualquer momento, sem aviso prévio. Ao usar este site, você concorda em ficar vinculado à versão atual desses termos de serviço.</span></p>
            <h3><span style="color: rgb(68, 68, 68);">Lei aplicável</span></h3>
            <p><span style="color: rgb(68, 68, 68);">Estes termos e condições são regidos e interpretados de acordo com as leis do Bike Center e você se submete irrevogavelmente à jurisdição exclusiva dos tribunais naquele estado ou localidade.</span></p>
        </div>
    </main>
    <hr>


    <main class="flex-fill">
        <div class="container">
            <h2>Política de Trocas e Devoluções</h2>
            <hr>
            <p>
                A Bike Center utiliza tecnologia de ponta para a fabricação de seus produtos, primando pela qualidade e satisfação de seus clientes. Pelo respeito e para que seja mantida a credibilidade conquistada junto aos seus consumidores, a empresa criou uma política de troca e devolução de acordo com o Código de Defesa do Consumidor, e preocupada para que você (cliente) obtenha uma negociação eficaz, ágil e principalmente satisfatória.
            </p>
            <p>
                Caso opte pelo contato via correio eletrônico ou telefônico, será encaminhado a você o formulário para preenchimento e envio junto à(s) peça(s). O produto devolvido sem esse formulário e/ou sem a comunicação ao SAC será reenviado sem consulta prévia.
            </p>
            <p>
                Ao efetuar o processo de devolução/troca o cliente deverá, no verso da nota fiscal a ser devolvida/trocada, informar o motivo da devolução/troca, o nome de quem está devolvendo, CPF e a data da devolução.
            </p>
            <p>
                Caso receba algum produto com a embalagem violada, recuse-o no ato da entrega.
            </p>
            <p>
                Se a quantidade recebida divergir da nota fiscal, entre em contato conosco através de um dos canais disponibilizados no rodapé deste site.
            </p>
            <p>
                *ATENÇÃO: Para efetuar o processo de troca, é necessário estar logado.
            </p>
            <h5>Devolução por Arrependimento/Desistência</h5>
            <p>
                Se ao receber o produto, você resolver devolvê-lo por arrependimento, deverá fazê-lo em até sete dias corridos, a contar da data de recebimento, observando as seguintes condições:
            </p>
            <ul>
                <li>O produto não poderá ter indícios de uso.</li>
                <li>O produto deverá ser encaminhado preferencialmente na embalagem original, acompanhado de nota fiscal, etiquetas, tags (etiqueta com código de referência do produto) devidamente fixada no produto e todos os seus acessórios.</li>
                <li>Ao efetuar o processo de devolução, o cliente deverá, no verso da nota fiscal a ser devolvida, informar o motivo da recusa/devolução, o nome e o CPF de quem está devolvendoe a data da devolução.
                </li>
            </ul>
        </div>
    </main>
</div>

{% endblock %}
